<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		
		{{! <link rel="stylesheet" href="../../css/style.css?" media="all" /> }}

		<link rel="stylesheet" href="../../src_petitions/css/bootstrap.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../src_petitions/css/bootstrap-responsive.css?{{ cacheBuster }}" media="all" />
		{{! <link rel="stylesheet" href="../../src_petitions/css/font-awesome.css?" media="all" /> }}
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="../../src_petitions/css/mixture.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../src_petitions/css/sbx-core.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../src_petitions/css/sbx-actions.css?{{ cacheBuster }}" media="all" />
		{{! <link rel="stylesheet" href="../../src_petitions/css/zozo.accordion.css?" media="all" /> }}

		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

		<script src="../../src_petitions/js/modernizr-latest.min.js"></script>

		{{! BEGIN: For IE, has to be in HEAD to work! }}
		<script src="../../src_petitions/js/selectivizr.js"></script>		{{! For IE6-8 }} 
		<script src="../../src_petitions/js/respond/respond.src.js"></script>		{{! For IE8 }}
		<script src="../../src_petitions/js/placeholders/placeholders.min.js"></script>		{{! For IE9-under }}
		<script src="../../src_petitions/js//easypiechart/demo/excanvas.compiled.min.js"></script>	{{! For IE8 }}

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">	
		
		{{! <header class="jumbotron subhead">
  		<div class="container">
   			<h1>{% block title %}Page Title{% endblock %}</h1>
    		<p class="lead">{% block lead %}Page Description{% endblock %}</p>
  		</div>
		</header> }}
		<div class="container mixture-main-container">
			<div class="row">