<div class="span8">
	<div id="page" class="sbx actions actions-view-action lay-1col">
		{{> organisms-actions-pageheader }}
		{{> organisms-actions-media }}
		{{> organisms-actions-pageintro }}
		{{> organisms-actions-letter }}
		{{> organisms-actions-socialshare }}
		{{> organisms-actions-pageoutro }}
	</div>	
<div class="span4">
	<!-- Showing pace for SBX Template Sidebar -->
</div>