
<div class="span12">
	<div id="page" class="sbx actions actions-view-action lay-1col">
		{{> organisms-actions-pageheader }}
		{{> organisms-actions-media }}	
		{{> organisms-actions-pageintro-2col }}

	{{> organisms-actions-targetsearch }}
	{{> organisms-actions-targets }}		
	</div>


	<div class="row">
		<div class="span6">
			{{> organisms-actions-contact }}
		</div>
		<div class="span6">
			{{> organisms-actions-letter }}
		</div>
	</div>

	{{> organisms-actions-socialshare }}
	{{> organisms-actions-pageoutro }}
</div>
