<div class="span8 offset2">
	<div id="page" class="sbx actions actions-view-action lay-1col">
		{{> organisms-actions-pageheader }}
		{{> organisms-actions-media }}
		{{> organisms-actions-pageintro }}
		{{> organisms-actions-targets }}
		{{> organisms-actions-letter }}
		{{> organisms-actions-contact }}
		{{> organisms-actions-socialshare }}
		{{> organisms-actions-pageoutro }}
	</div>
</div>	