<div class="span12">
	<div id="page" class="sbx actions actions-view-action lay-1col">
		{{> organisms-actions-pageheader }}
		{{> organisms-actions-media }}	
		{{> organisms-actions-pageintro-2col }}
		{{> organisms-actions-targetsearch }}
		{{> organisms-actions-socialshare }}
		{{> organisms-actions-pageoutro }}
	</div>
</div>	