&lt;div class=&quot;section section-action-targetsearch&quot; id=&quot;section-actionTargetSearch&quot;&gt;
	&lt;h3 class=&quot;section-title action-targetsearch-title&quot;&gt;Target Search Heading&lt;/h3&gt;
	 {{&gt; molecules-actions-targetsearch-formext-error }}
	 {{&gt; molecules-actions-message }}
&lt;/div&gt;