<div class="target">
	<div class="target-media">
		<img class="target-photo" src="http://placehold.it/48x48&amp;text=Photo">
	</div>
	<div class="target-body">
		<h4 class="target-name">Ryan Belisle</h4>
		<div class="target-title">Title</div>
		<div class="target-org">Organization</div>
		<p class="target-address">### Steet name<br>City, State #####</p>		
		<div class="target-district">District: MA-01</div>
		<div class="target-phone">Phone: (xxx) xxx-xxxx</div>
	</div>
</div>

<!--<div class="target">
	<div class="target-media">
		<img class="target-photo" src="http://placehold.it/48x48&amp;text=Photo">
	</div>
	<div class="target-body">
		<h4 class="target-name">Ryan Belisle</h4>
		<div class="target-meta">
			<span class="target-meta-item target-title">Title</span>
			<span class="target-meta-item target-org">Organization</span>
		</div>
		<p class="target-address">### Steet name<br>City, State #####</p>
		<div class="target-info">
			<span class="target-info-item target-phone">Phone: (xxx) xxx-xxxx</span>
			<span class="target-info-item target-fax">Fax: (xxx) xxx-xxxx</span>
		</div>
	</div>
</div>-->