<form class="action-targetsearch-form {{form_customcss}}" action="#" id="action-targetSearchForm">
	<div class="action-targetsearch-intro">
		<p>Target form intro id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.</p>
	</div>
	<fieldset class="action-targetsearch-fs clearfix">		
		<div class="control-group cg-street error {{cg_customcss}}">
			<div class="controls">
				<input type="text" class="input-text input-block-level fi-street" placeholder="Street Address">
				<span class="help-block">Error Help Message</span>
			</div>			
		</div>
		<div class="control-group cg-zip-ext error {{cg_customcss}}">
			<div class="controls">
				<input type="text" class="input-text fi-zip" placeholder="Zipcode"><span class="control-symbol">-</span><input type="text" class="input-text fi-zipext" placeholder="+4" maxlength="4" size="4">
				<span class="help-block">Error Help Message</span>
				<span class="help-block">Error Help Message</span>
			</div>			
		</div>
		<div class="control-group cg-formactions {{cg_customcss}}">
			<div class="controls">
				<button class="btn btn-primary btn-targetsearchform-submit {{btn_customcss}}" type="button">Search</button>
			</div>
		</div>
	</fieldset>
</form>