<div class="target">
	<div class="target-media">
		<img class="target-photo" src="http://placehold.it/120x120&amp;text=Photo">
	</div>
	<div class="target-body">
		<h4 class="target-name">Ryan Belisle</h4>
		<div class="target-meta">
			<span class="target-title">Title</span>, <span class="target-org">Organization</span>
		</div>
		<div class="target-info">
			<p class="target-info-item target-phone">Phone: (xxx) xxx-xxxx</p>
			<p class="target-info-item target-fax">Fax: (xxx) xxx-xxxx</p>
		</div>
	</div>
</div>