&lt;div class=&quot;section section-petition-accordion visible-phone&quot; id=&quot;section-petitionAccordion&quot;&gt;
    &lt;div class=&quot;accordion-petition&quot; id=&quot;accordion-petition&quot;&gt;
        &lt;section class=&quot;accordion-petition-item&quot;&gt;
            &lt;h3 class=&quot;accordion-petition-header accordion-petition-letter-header&quot;&gt;Letter&lt;i class=&quot;z-state-close icon-chevron-up&quot;&gt;&lt;/i&gt;&lt;i class=&quot;z-state-open icon-chevron-down&quot;&gt;&lt;/i&gt;&lt;/h3&gt;
            &lt;div class=&quot;accordion-petition-body accordion-petition-letter-body&quot;&gt;
                {{&gt; molecules-pet-letter }}
            &lt;/div&gt;
        &lt;/section&gt;
        &lt;section class=&quot;accordion-petition-item&quot;&gt;
            &lt;h3 class=&quot;accordion-petition-header accordion-petition-supporters-header&quot;&gt;Supporters&lt;i class=&quot;z-state-close icon-chevron-up&quot;&gt;&lt;/i&gt;&lt;i class=&quot;z-state-open icon-chevron-down&quot;&gt;&lt;/i&gt;&lt;/h3&gt;
            &lt;div class=&quot;accordion-petition-body accordion-petition-supporters-body&quot;&gt;
                {{&gt; molecules-pet-supporters }}
            &lt;/div&gt;
        &lt;/section&gt;
    &lt;/div&gt;
&lt;/div&gt;