&lt;div class=&quot;socialshare petition-socialshare {{socialshare_class}}&quot;&gt;
	{% if socialshare_ttl_align == 'right' %}
	&lt;ul class=&quot;share-list&quot;&gt;
		&lt;li class=&quot;share-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;share-btn btn&quot;&gt;&lt;i class=&quot;share-btn-icon icon-facebook&quot;&gt;&lt;/i&gt; Facebook&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;share-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;share-btn btn&quot;&gt;&lt;i class=&quot;share-btn-icon icon-twitter&quot;&gt;&lt;/i&gt; Twitter&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;	
	&lt;h5 class=&quot;share-title&quot;&gt;Button Class&lt;/h5&gt;
	{% else %}
	&lt;h5 class=&quot;share-title&quot;&gt;Button Class:&lt;/h5&gt;
	&lt;ul class=&quot;share-list&quot;&gt;
		&lt;li class=&quot;share-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;share-btn btn&quot;&gt;&lt;i class=&quot;share-btn-icon icon-facebook&quot;&gt;&lt;/i&gt; Facebook&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;share-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;share-btn btn&quot;&gt;&lt;i class=&quot;share-btn-icon icon-twitter&quot;&gt;&lt;/i&gt; Twitter&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
	{% endif %}
&lt;/div&gt;