&lt;form class=&quot;action-contact-form {{form_customcss}}&quot; action=&quot;#&quot; id=&quot;action-contactForm&quot;&gt;
	&lt;div class=&quot;action-contact-intro&quot;&gt;
		&lt;p&gt;Sign form intro id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.&lt;/p&gt;
	&lt;/div&gt;
	&lt;fieldset class=&quot;action-contact-fs clearfix&quot;&gt;		
		&lt;div class=&quot;control-group cg-firstname {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;text&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;First name&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;control-group cg-lastname {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;text&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;Last name&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;control-group cg-email {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;email&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;Email&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;control-group cg-street {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;text&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;Street Address&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;	
		&lt;div class=&quot;control-group cg-city {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;text&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;City&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;		
		&lt;div class=&quot;control-group cg-state {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				{{&gt; atoms-select-state }}
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;control-group cg-zip {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;input type=&quot;text&quot; class=&quot;input-text input-block-level&quot; placeholder=&quot;Zip code&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;control-group cg-checkboxes {{cg_customcss}}&quot;&gt;
			&lt;div class=&quot;controls&quot;&gt;
				&lt;label class=&quot;checkbox cl-newsletter&quot;&gt;
      		&lt;input type=&quot;checkbox&quot; class=&quot;cb-newsletter&quot; checked&gt; Signup for our newsletter
    		&lt;/label&gt;
    		&lt;label class=&quot;checkbox cl-recupdates&quot;&gt;
      		&lt;input type=&quot;checkbox&quot; class=&quot;cb-recupdates&quot; checked&gt; Keep me updated on this action
    		&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/fieldset&gt;
	&lt;div class=&quot;form-actions action-contact-formactions&quot;&gt;
		&lt;button class=&quot;btn btn-primary btn-contact-submit&quot; type=&quot;button&quot;&gt;Take Action!&lt;/button&gt;
	&lt;/div&gt;
	&lt;div class=&quot;action-contact-outro&quot;&gt;
		&lt;p&gt;Sign form outro description cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus.&lt;/p&gt;
	&lt;/div&gt;
&lt;/form&gt;