&lt;div class=&quot;socialshare action-socialshare {{socialshare_class}}&quot;&gt;
	{% if socialshare_ttl_align == 'right' %}
	&lt;div class=&quot;share-list&quot;&gt;
		&lt;!-- AddThis Button BEGIN --&gt;
		&lt;div class=&quot;addthis_toolbox addthis_default_style &quot;&gt;
			&lt;a class=&quot;addthis_button_facebook_like&quot; fb:like:layout=&quot;button_count&quot;&gt;&lt;/a&gt;
			&lt;a class=&quot;addthis_button_tweet&quot;&gt;&lt;/a&gt;
		&lt;/div&gt;
		&lt;script type=&quot;text/javascript&quot; src=&quot;//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527afea35155f5be&quot;&gt;&lt;/script&gt;
		&lt;!-- AddThis Button END --&gt;
	&lt;/div&gt;	
	&lt;h5 class=&quot;share-title&quot;&gt;AddThis Sharing&lt;/h5&gt;
	{% else %}
	&lt;h5 class=&quot;share-title&quot;&gt;AddThis Sharing:&lt;/h5&gt;
	&lt;div class=&quot;share-list&quot;&gt;
		&lt;!-- AddThis Button BEGIN --&gt;
		&lt;div class=&quot;addthis_toolbox addthis_default_style &quot;&gt;
			&lt;a class=&quot;addthis_button_facebook_like&quot; fb:like:layout=&quot;button_count&quot;&gt;&lt;/a&gt;
			&lt;a class=&quot;addthis_button_tweet&quot;&gt;&lt;/a&gt;
		&lt;/div&gt;
		&lt;script type=&quot;text/javascript&quot; src=&quot;//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527afea35155f5be&quot;&gt;&lt;/script&gt;
		&lt;!-- AddThis Button END --&gt;
	&lt;/div&gt;
	{% endif %}
&lt;/div&gt;