.action-title {
  margin: 0px;
}
.action-pageintro-toggle,
.action-pageintro-body {
  display: block;
  width: 100%;
}
.action-pageintro-toggle {
  text-align: center;
}
.action-pageintro-body {
  overflow: hidden;
}
.action-targetsearch-formintro {
  margin-bottom: 24px;
}
.action-targetsearch-outro {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.btn-targetsearch-submit > i {
  margin-left: 6px;
}
.target,
.target-body {
  overflow: hidden;
  zoom: 1;
}
.target {
  margin-bottom: 36px;
}
.target-media {
  float: left;
  margin-right: 20px;
}
.target-name {
  margin: 0;
  color: #555;
  font-weight: 700;
}
.target-meta {
  color: #999;
}
.target-info {
  margin: 12px 0 0 0;
}
.target-info-item {
  margin: 0;
}
.action-contact-formintro {
  margin-bottom: 24px;
}
.action-contact-formoutro {
  margin-top: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
@media (max-width: 767px) {
  .action-letter {
    font-size: 14px;
    line-height: 24px;
  }
  .action-letter p:last-child {
    margin-bottom: 0;
  }
}
