
&lt;div id=&quot;page&quot; class=&quot;sbx petitions petitions-view-petition lay-1col&quot;&gt;
	{% assign cg_customcss = '' %}
	{{&gt; molecules-pet-form-new }}
	{% assign cg_customcss = 'error' %}
	{{&gt; molecules-pet-alert }}
	{{&gt; molecules-pet-form-new }}
&lt;/div&gt;