&lt;div class=&quot;action-targets&quot;&gt;
	&lt;div class=&quot;row-fluid action-targets-row&quot;&gt;
		&lt;div class=&quot;span6&quot;&gt;
			{{&gt; molecules-actions-target }}
		&lt;/div&gt;
		&lt;div class=&quot;span6&quot;&gt;
			{{&gt; molecules-actions-target }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;row-fluid action-targets-row&quot;&gt;
		&lt;div class=&quot;span6&quot;&gt;
			{{&gt; molecules-actions-target }}
		&lt;/div&gt;
		&lt;div class=&quot;span6&quot;&gt;
			{{&gt; molecules-actions-target }}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;