
<style>
	.logo-sbxengage-a {
		fill: #000;
	}
	.logo-sbxengage-b {
		fill: #2D5798;
	}
	.logo-sbxengage-c {
		fill: #666;
	}
	.logo-sbxengage-d {
		width: 320px;
		height: 28px;
	}	
	.logo-sbxengage-e {
		width: 640px;
		height: 56px;
		fill: #2D5798;
	}
</style>

<div class="span12">{{> atoms-sbxengage-svg:logo-sbxengage-a }}</div>
<div class="span12">{{> atoms-sbxengage-svg:logo-sbxengage-b }}</div>
<div class="span12">{{> atoms-sbxengage-svg:logo-sbxengage-c }}</div>

<div class="span12">{{> atoms-sbxengage-svg:logo-sbxengage-d }}</div>
<div class="span12">{{> atoms-sbxengage-svg:logo-sbxengage-e }}</div>



