&lt;div class=&quot;section section-petition-letter {{letter_customcss}}&quot; id=&quot;section-petitionLetter&quot;&gt;
	&lt;h3 class=&quot;section-title petition-letter-title&quot;&gt;Letter&lt;/h3&gt;
	 {{&gt; molecules-pet-letter }}
&lt;/div&gt;