&lt;div class=&quot;span8&quot;&gt;
	&lt;div id=&quot;page&quot; class=&quot;sbx actions actions-view-action lay-1col&quot;&gt;
		{{&gt; organisms-actions-pageheader }}
		{{&gt; organisms-actions-media }}
		{{&gt; organisms-actions-pageintro }}
		{{&gt; organisms-actions-letter }}
		{{&gt; organisms-actions-socialshare }}
		{{&gt; organisms-actions-pageoutro }}
	&lt;/div&gt;	
&lt;div class=&quot;span4&quot;&gt;
	&lt;!-- Showing pace for SBX Template Sidebar --&gt;
&lt;/div&gt;