<div class="span8">
	<div id="page" class="sbx petitions petitions-view-petition lay-1col">
		{{> organisms-pet-pageheader }}
		{{> organisms-pet-media }}
		{{> organisms-pet-progress }}
		{{> organisms-pet-pageintro }}
		{{> organisms-pet-formtoggle }}
		{{! {% assign form_customcss = '' %} }}
		{{! {% assign section_form_customcss = 'is-hidden' %} }}
		{{> organisms-pet-form(form_customcss: "", section_form_customcss: "is-hidden") }}
		{{> organisms-pet-letter }}
		{{> organisms-pet-supporters }}
		{{> organisms-pet-socialshare }}
		{{> organisms-pet-pageoutro }}
	</div>	
<div class="span4">
	<!-- Showing pace for SBX Template Sidebar -->
</div>