
<div id="page" class="sbx petitions petitions-view-petition lay-1col">
	{% assign cg_customcss = '' %}
	{{> molecules-pet-form-new }}
	{% assign cg_customcss = 'error' %}
	{{> molecules-pet-alert }}
	{{> molecules-pet-form-new }}
</div>