&lt;div class=&quot;section section-petition-form {{section_form_customcss}}&quot; id=&quot;section-petitionForm&quot;&gt;
	&lt;h3 class=&quot;section-title petition-formtitle&quot;&gt;Sign the Petition&lt;/h3&gt;
	 {{&gt; molecules-pet-form-new }}
&lt;/div&gt;