&lt;div id=&quot;page&quot; class=&quot;sbx actions actions-view-thankyou lay-1col&quot;&gt;
	{{&gt; organisms-actions-pageheader }}
	{{&gt; organisms-actions-thankyou }}
	{{&gt; organisms-actions-socialshare }}
&lt;/div&gt;