&lt;div class=&quot;section section-action-targetform&quot; id=&quot;section-actionTargetForm&quot;&gt;
	&lt;h3 class=&quot;section-title action-formtitle&quot;&gt;Target Search Heading&lt;/h3&gt;
	 {{&gt; molecules-actions-targetform }}
&lt;/div&gt;