&lt;div class=&quot;section section-action-targets&quot; id=&quot;section-actionTargets&quot;&gt;
	&lt;h3 class=&quot;section-title action-targets-title&quot;&gt;Targets Heading&lt;/h3&gt;
	&lt;div class=&quot;action-targets-intro&quot;&gt;
		&lt;p&gt;Targets Intro lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ea inventore numquam in unde, perferendis nostrum magni officiis mollitia saepe neque deserunt praesentium tempora vitae, at velit, omnis reprehenderit repellat?&lt;/p&gt;
	&lt;/div&gt;
	{{&gt; molecules-actions-targets }}
&lt;/div&gt;