<div class="span12">
	{{> organisms-actions-pageheader }}

	<div class="row">
		<div class="span6">
			<div id="page" class="sbx actions actions-view-action lay-1col">
				{{> organisms-actions-media }}	
				{{> organisms-actions-socialshare }}
				{{> organisms-actions-pageoutro }}
			</div>
		</div>	
		<div class="span6">
			{{> organisms-actions-pageintro }}
			{{> organisms-actions-targetsearch }}
		</div>
	</div>

	<div class="row">
		<div class="span6">
			{{> organisms-actions-contact }}
		</div>
		<div class="span6">
			{{> organisms-actions-targets }}
			{{> organisms-actions-letter }}
		</div>
	</div>
	
</div>