&lt;div class=&quot;section section-action-letter {{letter_customcss}}&quot; id=&quot;section-actionLetter&quot;&gt;
	&lt;h3 class=&quot;section-title action-letter-title&quot;&gt;Letter Heading&lt;/h3&gt;
	 {{&gt; molecules-actions-letter }}
&lt;/div&gt;