&lt;div class=&quot;span8&quot;&gt;
	&lt;div id=&quot;page&quot; class=&quot;sbx petitions petitions-view-petition lay-1col&quot;&gt;
		{{&gt; organisms-pet-pageheader }}
		{{&gt; organisms-pet-media }}
		{{&gt; organisms-pet-progress }}
		{{&gt; organisms-pet-pageintro }}
		{{&gt; organisms-pet-formtoggle }}
		{{! {% assign form_customcss = '' %} }}
		{{! {% assign section_form_customcss = 'is-hidden' %} }}
		{{&gt; organisms-pet-form(form_customcss: &quot;&quot;, section_form_customcss: &quot;is-hidden&quot;) }}
		{{&gt; organisms-pet-letter }}
		{{&gt; organisms-pet-supporters }}
		{{&gt; organisms-pet-socialshare }}
		{{&gt; organisms-pet-pageoutro }}
	&lt;/div&gt;	
&lt;div class=&quot;span4&quot;&gt;
	&lt;!-- Showing pace for SBX Template Sidebar --&gt;
&lt;/div&gt;