
&lt;style&gt;
	.logo-sbxengage-a {
		fill: #000;
	}
	.logo-sbxengage-b {
		fill: #2D5798;
	}
	.logo-sbxengage-c {
		fill: #666;
	}
	.logo-sbxengage-d {
		width: 320px;
		height: 28px;
	}	
	.logo-sbxengage-e {
		width: 640px;
		height: 56px;
		fill: #2D5798;
	}
&lt;/style&gt;

&lt;div class=&quot;span12&quot;&gt;{{&gt; atoms-sbxengage-svg:logo-sbxengage-a }}&lt;/div&gt;
&lt;div class=&quot;span12&quot;&gt;{{&gt; atoms-sbxengage-svg:logo-sbxengage-b }}&lt;/div&gt;
&lt;div class=&quot;span12&quot;&gt;{{&gt; atoms-sbxengage-svg:logo-sbxengage-c }}&lt;/div&gt;

&lt;div class=&quot;span12&quot;&gt;{{&gt; atoms-sbxengage-svg:logo-sbxengage-d }}&lt;/div&gt;
&lt;div class=&quot;span12&quot;&gt;{{&gt; atoms-sbxengage-svg:logo-sbxengage-e }}&lt;/div&gt;



