<div class="section section-action-targets" id="section-actionTargets">
	<h3 class="section-title action-targets-title">Target List Heading</h3>
	<div class="action-targets-intro">
		<p>Target List Intro lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ea inventore numquam in unde, perferendis nostrum magni officiis mollitia saepe neque deserunt praesentium tempora vitae, at velit, omnis reprehenderit repellat?</p>
	</div>
	{{> molecules-actions-targets }}
</div>